* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 25px !important;
}
.css-e47596-MuiDateRangeCalendar-root{
  margin: auto;
}

svg{
  margin: 0px !important;
}
